##########################################
#  The HUGO Book, by Kent Tessman 2004:  #
#  https://github.com/tajmone/hugo-book  #
##########################################

# Local previews:
/docs_src/hugo-book?_*.html

## TMP Work Files
#################
*.tmp
___*.*
___*

# Links and URLs:
*.lnk
*.url

## Sass temp files
##################
*.css.map
## Just in case someone still uses Ruby Sass:
.sass-cache/

############################
## COMMON IGNORE PATTERNS ##
############################

## Linux
########
*~
.directory
.fuse_hidden*
.nfs*
.Trash-*

## macOS
########
*.DS_Store
._*
.AppleDouble
.LSOverride
Icon

## Windows
##########
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
.BIN/

# EOF #
