// =============================================================================
// Base2Tone Lake
// =============================================================================
// Author: Bram de Haan (https://atelierbramdehaan.nl/)
// Source: https://github.com/atelierbram/Base2Tone
// -----------------------------------------------------------------------------
// The Base2Tone schemes were created by Bram de Haan, based on DuoTone themes
// by Simurai for Atom:
//
//    http://simurai.com/projects/2016/01/01/duotone-themes
//
// Converted from YAML to Sass by Tristano Ajmone.
// -----------------------------------------------------------------------------
$baseA0: #192D34;
$baseA1: #223C44;
$baseA2: #335966;
$baseA3: #3D6876;
$baseA4: #467686;
$baseA5: #508495;
$baseA6: #7BA8B7;
$baseA7: #ADC8D1;
$baseB0: #2F7289;
$baseB1: #36829B;
$baseB2: #3E91AC;
$baseB3: #499FBC;
$baseB4: #62B1CB;
$baseB5: #7DC2D9;
$baseB6: #A5D8E9;
$baseB7: #E1F7FF;
$baseC0: #7A7971;
$baseC1: #8D8C81;
$baseC2: #9F9D93;
$baseC3: #B1AFA5;
$baseC4: #C2C1B7;
$baseC5: #D5D4CD;
$baseC6: #E8E7E3;
$baseC7: #FAFAF9;
$baseD0: #84740B;
$baseD1: #978611;
$baseD2: #B7A21A;
$baseD3: #C4B031;
$baseD4: #CBBB4D;
$baseD5: #D6C65C;
$baseD6: #E9D763;
$baseD7: #FFEB66;
// -----------------------------------------------------------------------------
