// =============================================================================
//                        Reset Highlight Template Vars                         
// =============================================================================
// Reset all the variables of the Highlight template.

$HL-Border-radius: null;
$HL-Border-width: null;
$HL-Font-family: null;
$HL-Font-size: null;
$HL-AlanHover: null;
$HL-Canvas: null;
$HL-Default: null;
$HL-LineNum: null;
$HL-Border-color: null;
$HL-Border-radius: null;
$HL-Border-width: null;
$HL-Number: null;
$HL-Escape: null;
$HL-Interpolation: null;
$HL-String: null;
$HL-Comment: null;
$HL-Operator: null;
$HL-Keywords1: null;
$HL-Keywords2: null;
$HL-Keywords3: null;
$HL-MarkerYellow1: null;
$HL-MarkerYellow2: null;
$HL-MarkerGreen1: null;
$HL-MarkerGreen2: null;
$HL-Role: null;
$HL-Lang: null;
